@using Microsoft.AspNetCore.Components.Authorization
@using SuperStatus.Data.Repositories
@inject ConfigurationApiClient ConfigurationApiClient


    <MudAppBar Dense>
         @if (HasLogo)
        {
            <MudLink Href="/" Underline="Underline.None" Color="Color.Inherit">
                <div style="display: flex; align-items: center; gap: 12px;">
                <img src="@LogoUrl" style="max-height: 40px; height: 40px; width: auto; object-fit: contain;" alt="Logo" />
                    <div style="display: flex; flex-direction: column;">
                        <MudText Typo="Typo.h6">@Title</MudText>
                        <MudText Typo="Typo.caption">@Description</MudText>
                    </div>
                </div>
            </MudLink>
        }
        else
        {
            <MudLink Href="/" Underline="Underline.None" Color="Color.Inherit">
                <MudText Typo="Typo.h6">SuperStatus</MudText>
            </MudLink>
        }
        <MudSpacer />

    <AuthorizeView>
        <Authorized>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Size="Size.Small" Color="Color.Inherit" Href="/admin"  />
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Size="Size.Small" Color="Color.Inherit" Href="/logout"  />
        </Authorized>
        <NotAuthorized>
             <MudIconButton Icon="@Icons.Material.Filled.Login" Size="Size.Small" Color="Color.Inherit" Href="/login?returnUrl=/"  />
        </NotAuthorized>
    </AuthorizeView>
   
    </MudAppBar>
        

@code{

        public string Title { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public string LogoUrl { get; set; } = string.Empty;
        public bool HasLogo => !string.IsNullOrWhiteSpace(LogoUrl);
        
        protected override async Task OnInitializedAsync()
        {
             var config = await ConfigurationApiClient.GetConfigurationAsync();
             Title = config.Title;
             LogoUrl = config.LogoUrl;
             Description = config.Description;
        }
    
}