@using Microsoft.AspNetCore.Components.Authorization
@using SuperStatus.Configuration


    <MudAppBar Dense>
         @if (HasLogo)
        {
                <img src="@LogoUrl" style='max-height: 100%; object-fit: contain' /> <span>@Description</span>
        }
        else
        {
            <div>SuperStatus</div>
        }
        <MudSpacer />

    <AuthorizeView>
        <Authorized>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Size="Size.Small" Color="Color.Inherit" Href="/admin"  />
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Size="Size.Small" Color="Color.Inherit" Href="/logout"  />
        </Authorized>
        <NotAuthorized>
             <MudIconButton Icon="@Icons.Material.Filled.Login" Size="Size.Small" Color="Color.Inherit" Href="/login?returnUrl=/"  />
        </NotAuthorized>
    </AuthorizeView>
   
    </MudAppBar>


@code{

        public string? Description { get; set; }
        public string? LogoUrl { get; set; }
        public bool HasLogo => !string.IsNullOrWhiteSpace(LogoUrl);
        protected override void OnInitialized()
        {
             LogoUrl = SuperStatusConfig.LogoUrl;
             Description = SuperStatusConfig.Description;
        }
    
}